@import "app/styles/variables";

.title {
  position: relative;
  width: max-content;
  padding: 10px 30px;
  margin: 0 0 60px 0;
  background-color: $white;
  border-radius: $default-border-radius;
  box-shadow: $primary-shadow-3;

  &.green {
    background-color: $primary-color-2;
    .text {
      color: $white;
    }
  }

  &.bisque {
    background-color: $primary-color-3;
  }
}

.text {
  width: max-content;
  position: relative;
  color: $dark-gray-color;
  margin: 0;
}

@media screen and (max-width: $tablet-width-m) {
  .title {
    margin: 0 0 30px 0;
    padding: 8px 40px;

    .text {
      padding: 0;
    }
  }
}
