@import "app/styles/extends";
@import "app/styles/variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $default-border-radius;
  box-shadow: $primary-shadow-2;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 20px;
  @extend %button-text;
  text-decoration: none;
  cursor: pointer;
  background-color: unset;
  text-align: center;
  transition: all .4s ease-in-out;
  background-position: 0 0;

  &.primary {
    border: none;
    color: $white;
    background-image: $primary-gradient-1;

    &:hover {
      transition: all .4s ease-in-out;
      box-shadow: $primary-shadow-3;
    }
  }

  &.ghost {
    border: 2px solid $primary-color-5;
    color: $primary-color-5;
    transition: color ease .3s, background-color ease .3s;

    &:hover,
    &.active {
      color: $white;
      background-color: $primary-color-5;
      transition: color ease .3s, background-color ease .3s;
      box-shadow: $primary-shadow-3;
    }
  }
}
