@import "app/styles/variables";

.service {
  position: relative;
}

.title {
  margin: 0 0 60px -75px;
}

.body {
  position: relative;
  padding: 0 0 120px;
}

.serviceList {
  display: grid;
  grid-gap: 60px;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.item {
  max-width: 1400px;
  width: 100%;
  display: grid;
  grid-gap: 60px;
  align-items: center;
  grid-template-columns: minmax(200px, 769px) minmax(200px, 570px);

  &Photo {
    display: flex;
    align-items: center;
    max-width: 769px;

    & img {
      width: 100%;
    }
  }

  &Title {
    margin: 0 0 25px;
  }

  &Description {
    position: relative;
    max-width: 570px;
    margin: 0 0 0 30px;
    padding: 0 30px 0 0;
  }

  &Number {
    position: absolute;
    left: -36px;
    top: -103px;
  }


  &:nth-child(even) {
    grid-template-columns: minmax(200px, 570px) minmax(200px, 769px);
    margin: 0 0 0 auto;

    & .itemDscription {
      position: relative;
      max-width: 570px;
      margin: 0 0 0 30px;
      padding: 0 0 0 30px;
    }

    .itemTitle, .itemText, .itemNumber {
      color: $white;
    }

    & .itemDescription {
      position: relative;
      max-width: 570px;
      margin: 0 0 0 30px;
      padding: 0 0 0 30px;
    }

    & .itemNumber {
      left: -6px;
    }
  }
}

.bgTransition1 {
  position: absolute;
  top: -133px;
  left: 0;
  width: 100%;
  height: 74%;
}

.bgTransition2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
}

@media screen and (max-width: $desktop-width) {
  .title {
    margin: 60px 0 60px -75px;
  }
}

@media screen and (max-width: $laptop-width) {
  .bgTransition1 {
    height: 85%;
  }

  .item {
    &:nth-child(even) .itemDescription {
      margin: 0 0 0 20px;
      padding: 0 0 0 20px;
    }

    &Title {
      margin: 0 0 20px;
    }

    &Description {
      padding: 0 20px 0 0;
    }

    &Number {
      left: -18px;
      top: -50px;
    }
  }
}

@media screen and (max-width: $tablet-width-m) {
  .service {
    background-color: $white;
  }

  .bg-transition-1,
  .bg-transition-2 {
    display: none;
  }

  .title {
    margin: 0 0 30px -30px;
  }

  .body {
    padding: 60px 0;
  }

  .serviceList {
    grid-gap: 0;
  }

  .item {
    position: relative;
    padding: 30px 10px 30px;
    background: $white;
    overflow: hidden;

    &Title, &Text, &Number {
      color: $dark-gray-color;
    }

    &,
    &:nth-child(even) {
      grid-template-columns: 1fr;
    }

    &:nth-child(even) {
      background-color: $primary-color-2;

      & .itemTitle, .itemText, .itemNumber {
        color: $white;
      }

      .itemDescription {
        margin: 0;
        padding: 0 0 0 20px;
      }
    }

    &Description {
      margin: 0;
      padding: 0 0 0 20px;
      color: $white;
    }

    &Photo {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
    }

    &Number {
      left: -6px;
      opacity: 0.2;
    }
  }
}
