@import "app/styles/variables";
@import "app/styles/extends";

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.separator {
  @extend %h2;
  position: relative;
  padding: 16px 0 0;

  &::before {
    content: '';
    display: block;
    height: 2px;
    width: 60px;
    background-color: $primary-color-1;
    position: absolute;
    left: -80px;
    top: 29%;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  max-width: 570px;
  width: 100%;
}


.list {
  padding: 16px 0 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(182px, 1fr));
  grid-gap: 35px;
  max-width: 570px;
}

.number {
  font-family: $secondary-font-stack;
  font-size: 56px;
}

.description {
  color: $gray-color;
}

@media screen and (max-width: $desktop-width) {
  .wrapper {
    justify-content: center;
  }

  .separator {
    display: none;
  }

  .logo {
    justify-content: center;
  }
}

@media screen and (max-width: $tablet-width-m) {
  .wrapper {
    align-items: center;
  }

  .list {
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
