@import "app/styles/variables";

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

@media screen and (max-width: $tablet-width-m) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: $mobile-width) {
  .list {
    grid-template-columns: 1fr
  }
}
