@import "app/styles/variables";

.footer {
  align-self: end;
  display: flex;
  align-items: center;
  background: $white;
  height: $footer-height;
  border-top: 1px solid $light-gray-color;

  @media screen and (max-width: $tablet-width) {
    height: $footer-height-t;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year {
  @media screen and (max-width: $tablet-width-m){
    display: none;
  }
}
