@import "app/styles/variables";

.advantages {
  overflow: hidden;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 60px 0;
}

@media screen and (max-width: $tablet-width-m) {
  .list {
    grid-gap: 0;
  }
}
