@import "app/styles/variables";
@import "app/styles/extends";

.priceListGroup {
  position: relative;
  display: grid;
  padding: 24px 16px;
  grid-gap: 16px 0;
  background-color: $white;
  border-radius: $default-border-radius;
  box-shadow: $primary-shadow-2;

  &:nth-child(5) {
    & .bg {
      transform: scaleX(-1);
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
}

.priceColumnName {
  @extend %h4;
}

.list {
  display: grid;
  grid-gap: 12px 0;
}

.bg {
  position: absolute;
  left: -70px;
  right: 70px;
  top: 0;
  bottom: -20px;
  z-index: -1;
  height: 105%;
}

