@import "app/styles/variables";

.nav {
  display: flex;
  justify-content: space-between;
}

.navLink {
  padding: 10px 0;
  text-decoration: none;
  color: $dark-gray-color;
  transition: color ease .3s;
  white-space: nowrap;

  & ~ & {
    margin: 0 0 0 30px;
  }

  &:hover {
    color: $primary-color-5;
    transition: color ease .3s;
  }
}

.active {
  color: $primary-color-5;
  border-bottom: 2px solid $primary-color-5;
}
