@import "app/styles/variables";

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  height: $header-height;
  box-shadow: $primary-shadow-1;

  .burger {
    display: none;

    &.visible {
      display: flex
    }
  }
}

.innerWrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: $white;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;

  & > svg {
    width: 150px;
  }
}

@media screen and (max-width: $laptop-width) {
  .header {

    .ctaButton {
      display: none;
    }

    .nav {
      margin: 0 0 0 35px;
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .header {
    height: $header-height-t;

    .nav {
      display: none;
    }

    .burger {
      display: flex;
    }
  }
}


