@import "app/styles/variables";

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  background-color: $white;
  height: $header-height;
  display: flex;
  align-items: center;
  box-shadow: $primary-shadow-1;

  @media screen and (max-width: $laptop-width) {
    height: $header-height-t;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $laptop-width) {
    margin: 0 0 0 35px;
  }
}

.phone {
  text-decoration: none;
  margin: 0 35px 0 0;
  color: $dark-gray-color;

  @media screen and (max-width: $laptop-width) {
    display: none;
  }
}
